/**
 *
 * Responsive Styles For Template
 *
 * This File have all responsive CSS
 */
 
/*All Reponsive Code Goes here*/


// scss/main.scss

@import "../scss.html";

.title {
  @include font-size(4rem);

  // The font-size mixin is a shorthand which calls
  // @include rfs(4rem, font-size);

  // Other shorthand mixins that are available are:
  // @include padding(4rem);
  // @include padding-top(4rem);
  // @include padding-right(4rem);
  // @include padding-bottom(4rem);
  // @include padding-left(4rem);
  // @include margin(4rem);
  // @include margin-top(4rem);
  // @include margin-right(4rem);
  // @include margin-bottom(4rem);
  // @include margin-left(4rem);

  // For properties which do not have a shorthand, the property can be passed:
  // @include rfs(4rem, border-radius);

  // Whenever a value contains a space, it should be escaped with `#{}`:
  // @include rfs(0 0 4rem red #{","} 0 0 5rem blue, box-shadow);

  // Custom properties (css variables):
  // @include rfs(4rem, --border-radius);
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.top-bar .right-side ul li:first-child {
        padding-left: 0;
    }
	
}

@media (min-width: 1199.98px) and (max-width:1350px ) {
	.banner-text-two,
	.banner-text-one {
    	position: relative;
		padding-left: 130px;
	}
	.gallery-box .gallery-img img {
		width: 100%;
	}
}
@media screen and (max-width: 450px) {
    .top-bar .right-side ul.menu {
        display: flow-root;
    }
    .top-bar .right-side ul li a i {
        padding: 10px 0;
    }
    .testimonial-img img, .ratings,
    .testimonial-img p {
        float: none;
        width: fit-content;
    }
    .top-bar .right-side ul li {
        border-right: none;
    }
    .top-bar .right-side ul li:last-child {
        padding-right: 15px;
    }
    .info-container .float-end {
        margin-top: 30px;
    }
    .count-box table {
        width: 100%;
    }
    .count-box td {
        display: block;
        text-align: center;
        width: 100%;
        border-right: none;
        margin-bottom: 30px;
        border-bottom: 1px solid #fff;
        padding-bottom: 30px;
    }
    .count-box td:last-child {
        margin-bottom: 0px;
        border-bottom: none;
        padding-bottom: 0px;
    }
    .left-side-img .border-box {
        display: none;
    }
    .about-text-info h2, .about-text-info h5 {
        display: inline-block;
    } 
    .percentage {
        display: none;
    }
}
@media screen and (max-width: 992px) {
    .icon-bar .float-end {
        float: none !important;
    }
    .info-box.two h2,
    .info-box.three h2 {
        margin-bottom: 60px;
    } 
    .services-text {
        margin-top: 30px;
    }
    .pad-top-bot {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .dot-img {
        top: 1%;
    }
}
@media screen and (max-width: 768px) {
.locations .location-abso {
	position: relative;
	left: auto;
	right: auto;
} 
.locations {
	position: relative;
	height: auto;
	left: auto;
	right: auto;
}
.logo {
	text-align: center;
}
.logo a {
    display: block;
    margin: auto;
}
.icon-bar .icon-side.border-lft {
    border: none;
}
.top-bar .right-side {
    padding-top: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.top-bar .right-side.float-end {
    float: none !important;
}
.top-bar .left-side ul li {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
    width: 100%;
}
.icon-bar .float-end {
    float: none !important;
}
.icon-bar .info-side, .icon-bar img {
    margin-top: 10px;
}
.logo {
    margin: 0 0 30px 0;
}
.icon-bar .info-side p {
    margin-bottom: 0;
}
.center-it {
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    display: block;
}
.top-bar .left-side ul.menu{
	display: block !important;
}
.navbar-light .navbar-toggler {
    margin: auto;
    position: relative;
    color: #ffff;
    border-color: #ffff;
}
.navigation {
    padding: 30px;
}
.nav-number ul li {
    display: block;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.slide-text {
    margin-top: -2%;
}

.social-icons,
.footer-top ul,
.footer-box ul {
    text-align: center;
    margin: auto;
    float: none !important;
    justify-content: center;
}
.nav-container .float-end,
.info-container .float-end {
    float: none !important;
}
.info-container {
    position: relative;
    margin-top: 12px;
}
.nav-container .float-end {
    margin-top: 30px;
}
.nav-number {
	margin: auto;
}
.bg {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-position-y: center;
}
.choose-us-img {
    margin-top: 30px;
}
.video-sec img {
    float: none !important;
    text-align: center;
    justify-content: center;
    display: block;
    margin: auto;
}
.staff-heading .section-title {
    display: none;
}
.follow-us .icon-bar {
    margin: auto;
}
}